*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  overflow-x: hidden;
  -ms-overflow-style: none; 
  scrollbar-width: none;
  background-color: #feffac;

}
body::-webkit-scrollbar {
  display: none;
}
a{
  text-decoration: none;
  color: black;

}
.navbar{
  background-color: #47b626;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  justify-content: space-between;
  columns: whitesmoke;
  align-items: center;
}
.links{
  padding: 40px;
  width: 100%;
  margin-left: 500px;
}
.links .nav-link{
  padding: 40px;
}

.logopic{
  padding: 10px;
  position: absolute;
  margin-top: 70px;
  width: 200px;
  height: auto;
}

header{
  width: 100vw;
  height: 70vh;
  background-image: url(images/home-bg.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.header-content{
  background-color: #feffac;
  padding: 8vh;
  align-items: center;
  text-align: center;
  font-size: 50px;
  padding-top: 1vh;
  padding-bottom: 1vh;
  color: #47b626;
}

.about-us{
  height: 100vh;
  display: flex;
  align-items: center;
  background-color: #feffac;
  margin: auto;
  justify-content: center;
  padding-top: 100px;
}
.about-us-btn{
  padding: 20px 100px;
  background-color: #47b626;
  border-radius: 30px;
  font-size: 40px;
}
.description{
  font-size: 35px;
  width: fit-content;
}
.about-us-content{
  width: 45%;
  padding: 30px;
  font-size: 50px;
}

.about-us-content .law{
  font-size: 30px;
}

.projects{
  padding-top: 170px;
  padding-bottom: 20px;
  height: 100vh;
  align-items: center;
  background-color: #feffac;
  margin: auto;
  justify-content: center;
}

.projects-btn{
  background-color: #47b626;
  border-radius: 30px;
  font-size: 40px;
  margin-left: 40px;
  padding: 20px 100px;
  margin-bottom: 40px;

}
.img-list{
  background-color: #feffac;  
  margin-top: 50px;
  width: 100vw;
  display: flex;
  padding-left: 25px;
  padding-bottom: 30px;
}

.in-img{
  width: 365px;
  height: auto;
  margin-right: 5px;
}

.txt-img{
  position: absolute;
 text-align: center;
}

.faq-us{
  height: 100vh;
  display: flex;
  align-items: center;
  background-color: #feffac;
  margin: auto;
  padding-top: 500px;
}
.img-faq{
  width: auto;
  height: 750px;
}
.faq-btn{
  background-color: #47b626;
  border-radius: 30px;
  font-size: 40px;
  margin-left: 40px;
  padding: 20px 100px;
  text-align: right;
}
span{
  margin-bottom: 50px;
}
.faq-us-content{
  width: 45%;
  padding: 30px;
  margin-left: 200px;
}

.faq-us-content h2{
  font-size: 28px;
}
.faq-us-content p{
  font-size: 15px;
}


.contact{
  height: 100vh;
  display: flex;
  align-items: center;
  background-color: #feffac;
  margin: auto;
  padding-top: 500px;
  margin-top: 150px;
}

.contact-content{
  width: 55%;
  padding: 30px;
  margin-top: 0px;
  padding-top: 0px;
}

.img-contact{
  width: 45%;
  height: 750px;
}

.contact-btn{
  background-color: #47b626;
  border-radius: 30px;
  font-size: 40px;
  padding: 20px 100px;
  margin-bottom: 90px;
}

.contact-content p{
  padding-top: 40px;
  margin-left: 150px;
  font-weight: 800;
}